.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #27354c;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #30415d;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px #bcbcbc; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #9c91c9; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #9c91c9; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.projects .project {
  position: relative;
  text-align: center; }
  .projects .project:hover .img {
    opacity: 0.3; }
  .projects .project:hover .project-info-box {
    opacity: 1; }

.projects .project-info-box {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.projects .project-info {
  background-color: #6c648b;
  color: #fff;
  font-size: 1.5rem;
  padding: 16px 20px;
  border-radius: 10px; }

.projects .img {
  border: 3px #fff solid;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }
  .projects .img:hover {
    opacity: 0.5;
    border-color: #9c91c9;
    transition: all 0.5s ease-out; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.img {
  width: 100%;
  height: auto; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%;
      max-width: 102.4rem; } }
  @media only screen and (min-width: 102.4em) {
    .container {
      width: 75%;
      max-width: 102.4rem; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

/*@import 'slickfix';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/slick-carousel/slick/slick-theme.scss';*/
html {
  font-size: 10px; }

* {
  box-sizing: border-box; }

body {
  background: #30415d;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(48, 65, 93, 0.9);
      z-index: -1; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem;
    font-family: 'Lobster', sans-serif; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(51, 70, 100, 0.5); }

h3 {
  color: #9c91c9; }

a {
  color: #fff;
  text-decoration: none; }

p, ul, li {
  letter-spacing: 0.02rem;
  font-size: 1.5rem; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #9c91c9; }

main {
  padding-top: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #9c91c9;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden;
    padding: 4rem; }
    main#home h1 {
      margin-top: 20vh; }

.panel {
  min-height: 40vh;
  margin-top: 30px;
  font-size: 1.5rem; }
  .panel-color {
    background-color: #6c648b;
    margin-top: 30px;
    padding-top: 4rem;
    min-height: 50vh; }
    .panel-color h1, .panel-color h2, .panel-color h3, .panel-color h4, .panel-color h5 {
      color: #fff; }

.underline a {
  position: relative; }
  .underline a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .underline a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.browserBanner {
  background-color: #000;
  color: #fff;
  padding: 10px;
  position: fixed;
  font-size: 1.5em;
  width: 100%; }

.about-info .bio-image {
  border-radius: 50%;
  border: #bcbcbc 3px solid;
  max-width: 252px; }

.about-info .job p {
  font-size: 1.3rem; }

.contact-info .icons a {
  padding: 0.4rem; }

.projectSlider div {
  max-height: 500px; }

.slick-dotted.slick-slider {
  margin-bottom: 60px; }

.project-list li {
  list-style-type: none; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #9c91c9;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #b4c2d8;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #1f293b;
  color: #fff;
  height: 60px; }

@media screen and (max-width: 768px) {
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px; }
  .contact-info {
    width: 95%;
    padding: 30px; } }

@media screen and (max-width: 500px) {
  main {
    padding-top: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .contact-info {
    width: 95%;
    padding: 15px; } }
