// Wide screens
@include mediaXl {

}

// Desktops and laptops                                     
@include mediaLg {
    .projectSlider div {
        max-height: 45vh;
    }

    .slick-slide {
        position: relative;
    
            .slide-info {
                bottom: 60px;
                left: 60px;

        }
    }
    

}

// Tablets and small laptops
@include mediaMd {

    main {
      
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    #home h1.lg-heading {
        margin-top: 15vh;
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding {
        height: 0vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    main #see-more-arrow {
        margin-top: 15vh;
    }

    .projectSlider div {
        max-height: 29vh;
    }

    .slick-slide {
        position: relative;
    
            .slide-info {
                bottom: 60px;
                left: 60px;

        }
    }

    .contact-info {
        width: 95%;
        padding: 30px;
    }

}

// Smartphones
@include mediaSm {

    #home h1.lg-heading {
        margin-top: 5vh;
    }

    main {
        padding-top: 2rem;

        .lg-heading {
            margin-top: 1rem;
            font-size: 5rem;
        }
    }

    main #see-more-arrow {
        margin-top: 8vh;
    }

    .projectSlider div {
        max-height: 18vh;
    }

    .slick-slide .slide-info {
        bottom: 0;
        left: 0;
        padding: 10px;
    }

    .contact-info {
        width: 95%;
        padding: 15px;
    }

}